body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-section {
    max-width: 100%;
    color: green;
}

.text-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkgreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.text-section button:hover {
    background-color: black;
}

.image-section img {
    max-width: 100%;
    max-height: 650px;
    
    border-radius: 20px;
}
