<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lantena Detection</title>
    <link rel="stylesheet" href="../static/styles/animal.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="text-section">
                <h1>Animal Detection</h1>
                <form action="{{ url_for('animal_detection') }}" method="post" enctype="multipart/form-data">
                    <input type="file" class="chooseform" name="file" accept=".jpg,.jpeg,.png" multiple required>
                    <input type="submit" class="form" value="Upload">
                </form>
            </div>
            <div class="image-section">
                <img src="../static/images/animal.png" alt="Lantena Detection">
            </div>
            </div>
        <!-- </div> -->
        {% if results %}
        {% for result in results %}
        <div class="result">
            <img class ="result" src="{{ result['file_path'] }}" alt="Uploaded Image">
            <div class="font">Number of Detected Animals: {{ result['animal_count'] }}</div>
        </div>
        {% endfor %}
        {% endif %}
    </header>
</body>
</html>